<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1059826865936-v8qnqpc81tltkserackmm7k2ajcoba52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059826865936-v8qnqpc81tltkserackmm7k2ajcoba52</string>
	<key>API_KEY</key>
	<string>AIzaSyAKXGZKnyDbs837MT3NBb5qMlTx4hoIDcs</string>
	<key>GCM_SENDER_ID</key>
	<string>1059826865936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pauca.CalTrack</string>
	<key>PROJECT_ID</key>
	<string>caltrack-1495924402347</string>
	<key>STORAGE_BUCKET</key>
	<string>caltrack-1495924402347.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059826865936:ios:077dd0e50a106c7d</string>
	<key>DATABASE_URL</key>
	<string>https://caltrack-1495924402347.firebaseio.com</string>
</dict>
</plist>